body {
	max-width: 1440px;
	margin: 0 auto;
	background-image: url("images/feathers.jpg");
	background-repeat: no-repeat;
    background-position: top;
}

li#pic {
	display: inline;
	padding-right: 20px;
}

header {
	text-align: center;
	font: 42px arial, sans-serif;
	border: 2px solid;
}

.mainfont {
	font-family: arial, sans-serif;
}

a:link {
    color: yellow;
}

a:hover {
    color: yellow;
}